.sidebar-item {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    // transition: 200ms linear background-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
        background-color: var(--gray-800);
        cursor: pointer;
    }

    // think about specitivity
    // what if other classes use active
    &.active {
        background-color: var(--primary-color);

        // :hover {
        //     background-color: variables.$accent-color;
        // }
    }

    .sidebar-item-icon {
        color: var(--gray-300);
        width: 1rem;
        height: 1rem;
    }
}