.toast {
  display: flex;
  width: 16rem;
  height: 4rem;
  padding: 0.75rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-800);
  background-color: var(--gray-900);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

  .toast-content {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    gap: 0.75rem;
    min-width: 0;
  }

  .toast-message {
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  .icon-button {
    flex-shrink: 0;
  }
}
