@use "../../style/variables" as variables;
@use "../../style/spacing" as spacing;

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 4.5rem;
    gap: 1rem;
    padding: spacing.$spacing-200 0;
    // for now
    border-right: 1px variables.$border-color solid;
}