.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 4.5rem;
    gap: 1rem;
    padding: var(--spacing-200) 0;
    // for now
    border-right: 1px var(--border-color) solid;
}