.code-editor-error {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);

    .code-editor-error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
}
.code-editor {
    height: 100%;
    // is this needed?
    flex: 1;
    width: 100%;
    background-color: var(--background-color);
}